<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fanduka{% endblock %}</title>
    <style>
        nav {
            background-color: aquamarine;
            color: black;
            display: flex;
            justify-content: center;
            gap: 7px;
        }

        footer {
            background-color: brown;
            color: white;
            display: flex;
            justify-content: center;
            gap: 7px;
        }
    </style>
</head>
<body>
    {% include '_navbar.html' without context %} {# The 'without context' means the parent templates context i.e marks/subject wont be passed to the partial #}
    {% block content %}
        <p>Welcome to Fanduka.</p>
    {% endblock %}
    {% include '_footer.html' %}
</body>
</html>