<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fanduka - Africa's number one jersey shop</title>
</head>
<body>
    <ul>
        <li>The marks of John is {{marks['John']}}</li>
        <li>The marks of Saurabh is {{marks['Saurabh']}}</li>
        <li>The marks of Mark is {{marks['Mark']}}</li>
        <li>The marks of Jeff is {{marks['Jeff']}}</li>
        <li>The marks of Omao is {{marks['Omao']}}</li>
    </ul>
</body>
</html>